@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  
}
.Cancelled {
  background: lightgray;
   color: black;
 } 

 .NoShow {
  background: rgb(123, 123, 123);
   color: black;
 } 

 .OnDeck {
  background: rgb(207, 142, 142);
   color: black;
 } 

 .Completed {
  background: rgb(195, 235, 195);
   color: black;
 } 

 .Playing {
  background: rgb(150, 183, 235);
   color: black;
 } 
.matches,
.players,
.courts {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.match{
  display: flex;
  width: 90px;
  height: 5.5vh;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  
}

.player-right {
  margin-right: 1%;
}
.player-left {
  margin-left: 1%;
}



.fixTableHead {
  overflow-y: auto;
  height: 600;
}
.fixTableHead table {
  text-align: left;
  position: relative;
}


.fixTableHead thead th {
  background: white;
  position: sticky;
  top: 0;
}



.name{
  float: left; 

}

.nameR{
  float: right;
  color:aliceblue;
  padding-right:28px;
}
.school{
  float: right;
  padding-right: 20px;
 
}
.print{
  float: right;
  padding-right: 20px;
}
.userdetail{
  background-color: greenyellow;
}

.container { 
  position:relative;
  padding:0;
  margin:0;
}
.input { 
  height:30px;
  margin:0;
  padding-left:28px;
}
.image {
  position:absolute;
  bottom:0px;
  left:14px;
  width:30px;
  height:30px;
}
.print{
  cursor: pointer
}
.inputsearch {
  margin-left: 10px;
  background-image: url(./components/images/search.png);
  background-size: 20px 20px;
  background-position: right center;  
  background-repeat: no-repeat;
  text-indent: 5px;
  width: 200px;
  height: 35;
  border-radius: 10px;
  
  border-color: gray;
  
}
.icon-button-img{
  fill: var(--text-color);
  width: 30px;
  height: 30px;
}
.page-name{
  text-align: center!important;
  
}
.login{
  background-color:  #eeeded;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 1px solid #E1E7EC;
  
    position: fixed;
    width: 30%;
    text-align: center;
   
    right: -0%;
    height: 100%;
   
}
.teamstanding{
  background-color: #eeeded;
  border-radius: 20px;
  border: 1px solid #E1E7EC;
  
    position: fixed;
    width: 90%;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}
.helpcontainer{
  max-width: 1000px;
  width: 100%;
  margin: auto;
}
.helpcards{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.helpcard{
  flex: 0 0 calc(33.33% -20px);
  max-width: calc(33.33% -20px);
  width:100%;
  background:#eaf4ff;
  border-radius:20px;
  padding: 20px;
  padding-bottom: 5px;
  margin-bottom: 40px;
  transition: 0.3s;
  border: 2px solid transparent
}
.helpcard:hover{
  border-color: #1d39c4;
}
.btn{
  border: none;
  outline: none;
}
.eye{
  position: absolute;
  right:30px;
  transform: translate(0,-20%);
  top: 50%;
  z-index: 20px;
  cursor: pointer;
}
.logotext {
  color: rgb(39, 58, 94);
font-size: 37px;
border-radius: 37px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.footer {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height: 60px;  
}

.rowC{display:flex; flex-direction:row; align-items: center ;}